html, body{
	height: 100%;
}

.modal-title{
	text-align: center;
}
.modal-body{
	padding: 20px 50px;
}
.modal-dialog {
    width: 400px;
}

.dropdown-menu{
    padding: 10px;
}

table th, td{
	text-align: center !important;
}

table{
	/*margin-right: auto;
	margin-left: auto;
	table-layout: fixed;*/
}

.table-first-col{
	padding-top: 6px;
}

.fixed-width{
	table-layout: fixed;
}

.table-title{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}


.title{
	text-align: center;
	font-weight: bold;
}

.main-body{
	padding-top: 70px !important;
	padding-bottom: 200px;
}

.record-table{
	width: 100%;
}

.warning{
	color: red;
}

.button{
	text-align: center;
}

.s{
	width : 20px;
}

.short{
	width : 110px;
}

.preview{
    padding: 10px;
    border-style: double;
    border-width: 3px;
}
.row-center{
    text-align: center !important;
}
.col-center{
    display: inline-block;
    float: none;

}


.wrap {
 	min-height: 100%;
}

.footer {
	position: relative;
  width: 100%;
	/* Set the fixed height of the footer here */
	margin-top: -100px;
	height: 100px;
	background-color: #CCCCCC;
	clear: both;
}

.footer > .container {
  padding-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
}

.form-horizontal{
	border-style: bold !important;
	border-width: 10px !important;
}




#googleMap{
    margin-top: 10px;
    width: auto;
    height: 600px;
}

.map{
	text-align: center;
}

.carousel, .item, .active{
  height:100%;
}

.carousel-inner{
  height:100%;
}

.fill{
  width:100%;
  height:100%;
  background-position:center;
  background-size:cover;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
  body {
    padding-left: 0;
    padding-right: 0;
  }
}


.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.navbar-fixed-top { background-color: rgba(45,45,45,1);transition: background-color 2s ease 0s;}
.navbar-fixed-top.opaque { background-color: rgba(45,45,45,0.75);transition: background-color 2s ease 0s;