{% extends "basic.html" %}

{% block cover %}

<div id="index-carousel" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#index-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#index-carousel" data-slide-to="1"></li>
		<li data-target="#index-carousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
			<img class="fill" src="/static/images/RB1.jpg" alt="First">
		</div>
		<div class="item">
			<img class="fill" src="/static/images/RB2.jpg" alt="Second">
		</div>
		<div class="item">
			<img class="fill" src="/static/images/RB3.jpg" alt="Second">
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#index-carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#index-carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

{% endblock cover %}
{% block content %}	

<div class="container">
	
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
		// google-map API
		function initialize() {
			var myLatlng = new google.maps.LatLng(25.068230, 121.569206);
			var mapOptions = {
				zoom: 15,
				center: myLatlng
			}
			var map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);

			var marker = new google.maps.Marker({
				position: myLatlng,
				map: map,
				title: 'Hello World!'
			});
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

	<br>
	<div class='row'>
		<div class="col-md-12 col-sm-12 map">
			<h3><b>近期練球地點: 塔悠路六號水門</b></h3>
			<div id="googleMap"></div>
		</div>
	</div>
</div>




{% endblock content %}
