{% extends "basic.html" %}

{% block content %}
<div class="container-fluid">
	<form name="gameform" action="{%url 'addgame'%}" method = "POST">	

		{% csrf_token %}
		<div class="row table-title warning">
			{{warning}}
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-4">	
				<table class="table table-condensed table-bordered table-hover">
					<tbody>
						<tr>
							<th>日期</th>
							<th>{{date}}<input type="hidden"  name="date" value = "{{date}}" ></th>
						</tr>
						<tr>
							<th>地點</th>
							<th>{{location}}<input type="hidden" name="location" value ="{{location}}"></th>
						</tr>
						<tr>
							<th>場次編號</th>
							<th>{{game_id}}<input type="hidden" name="game_id" value = "{{game_id}}"></th>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<table class="table table-condensed table-bordered table-hover">
					<thead>
						<tr>
							<th>隊伍</th>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>R</th>
							<th>H</th>
							<th>E</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>
								{{awayteam.name}}<input type="hidden" name="awayid" value = "{{awayteam.teamID}}">
							</th>
							{% for score in record.away.scores %}
								<th><input type="text" size="1" name="score_{{awayteam.teamID}}_{{forloop.counter}}" value = "{{score}}"></th>
							{% endfor %}
							<th><input type="text" size="1" name="away_R" value = "{{record.away.R}}"></th>
							<th><input type="text" size="1" name="away_H" value = "{{record.away.H}}"></th>
							<th><input type="text" size="1" name="away_E" value = "{{record.away.E}}"></th>
						</tr>
						<tr>
							<th>
								{{hometeam.name}}<input type="hidden" name="homeid" value = "{{hometeam.teamID}}">
							</th>
							{% for score in record.home.scores %}
								<th><input type="text" size="1" name="score_{{hometeam.teamID}}_{{forloop.counter}}" value = "{{score}}"></th>
							{% endfor %}
							<th><input type="text" size="1" name="home_R" value = "{{record.home.R}}"></th>
							<th><input type="text" size="1" name="home_H" value = "{{record.home.H}}"></th>
							<th><input type="text" size="1" name="home_E" value = "{{record.home.E}}"></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
{% comment %}
	日期：{{date}}<input type="hidden"  name="date" value = "{{date}}" ><br>
	地點：{{location}}<input  type="hidden" name="location" value ="{{location}}"><br>
	場次編號：{{game_id}}<input type="hidden" name="game_id" value = "{{game_id}}"><br>
	<input type="hidden" name="awayid" value = "{{awayteam.teamID}}">
	<input type="hidden" name="homeid" value = "{{hometeam.teamID}}">
	scorebox : <input type="text" name="box" >

 	<div class = "row">
		<table>
			<tr>
				<td> </td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
			</tr>
			{% for h_a in home_away %}
				<tr>
					<td>{% cycle hometeam , awayteam %}</td>
					<td><input type="text" name="score_1_{{forloop.counter}}" size="1"></td>
					<td><input type="text" name="score_2_{{forloop.counter}}" size="1"></td>
					<td><input type="text" name="score_3_{{forloop.counter}}" size="1"></td>
					<td><input type="text" name="score_4_{{forloop.counter}}" size="1"></td>
					<td><input type="text" name="score_5_{{forloop.counter}}" size="1"></td>
					<td><input type="text" name="score_6_{{forloop.counter}}" size="1"></td>
					<td><input type="text" name="score_7_{{forloop.counter}}" size="1"></td>
				</tr>
				
			{% endfor %}
		</table>
	</div> 
{% endcomment %}


		<div class="row">
			<!-- away batter table -->
			<div class="col-md-6 team-record">
				<table class="table table-hover table-bordered">
					<caption class="table-title">{{awayteam.name}}</caption>
					<thead>
						<tr>
							<td class="form-td">打者</td>
							<td class="form-td">背號</td>
							<td class="form-td">打席</td>
							<td class="form-td">一安</td>
							<td class="form-td">二安</td>
							<td class="form-td">三安</td>
							<td class="form-td">全壘打</td>
							<td class="form-td">打點</td>
							<td class="form-td">得分</td>
							<td class="form-td">保送</td>	
							<td class="form-td">三振</td>
							<td class="form-td">犧牲打</td>
						</tr>
					</thead>
					<tbody>
						{% for batter in record.away.batters %}
						<tr>
							<td class="form-name">
								<select class="td-input" name="id_{{awayteam.teamID}}_{{forloop.counter}}">
								<option value = 0> -- </option>
									{% for member in awayplayer%}
										<option value="{{member.memberID}}">({{member.number}}){{member.name}}</option>
									{% endfor %}
								</select>
							</td>
							<td class="form-td"><input class="td-input" size="1" type="text" value="{{batter.number}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pa_{{awayteam.teamID}}_{{forloop.counter}}" value="{{batter.PA}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="single_{{awayteam.teamID}}_{{forloop.counter}}" value="{{batter.B1}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="double_{{awayteam.teamID}}_{{forloop.counter}}" value="{{batter.B2}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="triple_{{awayteam.teamID}}_{{forloop.counter}}" value="{{batter.B3}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="hr_{{awayteam.teamID}}_{{forloop.counter}}" value="{{batter.HR}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="rbi_{{awayteam.teamID}}_{{forloop.counter}}" value="{{batter.RBI}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="run_{{awayteam.teamID}}_{{forloop.counter}}" value="{{batter.RUN}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="bb_{{awayteam.teamID}}_{{forloop.counter}}" value="{{batter.BB}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="so_{{awayteam.teamID}}_{{forloop.counter}}" value="{{batter.K}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="sf_{{awayteam.teamID}}_{{forloop.counter}}" value="{{batter.SF}}"></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<!-- home batter table -->
			<div class="col-md-6 team-record">
				<table class="table table-hover table-bordered">
					<caption class="table-title">{{hometeam.name}}</caption>
					<thead>
						<tr>
							<td class="form-td">打者</td>
							<td class="form-td">背號</td>
							<td class="form-td">打席</td>
							<td class="form-td">一安</td>
							<td class="form-td">二安</td>
							<td class="form-td">三安</td>
							<td class="form-td">全壘打</td>
							<td class="form-td">打點</td>
							<td class="form-td">得分</td>
							<td class="form-td">保送</td>
							<td class="form-td">三振</td>
							<td class="form-td">犧牲打</td>
						</tr>
					</thead>
					<tbody>
						{% for batter in record.home.batters %}
						<tr>
							<td class="form-name">
								<select class="td-input" name="id_{{hometeam.teamID}}_{{forloop.counter}}">
								<option value = 0> -- </option>
									{% for member in homeplayer%}
										<option value="{{member.memberID}}">({{member.number}}){{member.name}}</option>
									{% endfor %}
								</select>
							</td>
							<td class="form-td"><input class="td-input" size="1" type="text" value="{{batter.number}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pa_{{hometeam.teamID}}_{{forloop.counter}}" value="{{batter.PA}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="single_{{hometeam.teamID}}_{{forloop.counter}}" value="{{batter.B1}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="double_{{hometeam.teamID}}_{{forloop.counter}}" value="{{batter.B2}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="triple_{{hometeam.teamID}}_{{forloop.counter}}" value="{{batter.B3}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="hr_{{hometeam.teamID}}_{{forloop.counter}}" value="{{batter.HR}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="rbi_{{hometeam.teamID}}_{{forloop.counter}}" value="{{batter.RBI}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="run_{{hometeam.teamID}}_{{forloop.counter}}" value="{{batter.RUN}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="bb_{{hometeam.teamID}}_{{forloop.counter}}" value="{{batter.BB}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="so_{{hometeam.teamID}}_{{forloop.counter}}" value="{{batter.K}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="sf_{{hometeam.teamID}}_{{forloop.counter}}" value="{{batter.SF}}"></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div> <!-- end of row -->

		<div class="row">

			<!-- away pitcher table -->
			<div class="col-md-6 team-record">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<td class="form-td">投手</td>
							<td class="form-td">背號</td>
							<td class="form-td">出局人數</td>
							<td class="form-td">打席</td>
							<td class="form-td">被安打</td>
							<td class="form-td">被全壘打</td>
							<td class="form-td">四壞</td>
							<td class="form-td">三振</td>
							<td class="form-td">失分</td>
							<td class="form-td">責失</td>
							<td class="form-td">滾地出局</td>
							<td class="form-td">飛球出局</td>
							<td class="td-win">勝投</td>
							<td class="td-win">敗投</td>
						</tr>
					</thead>

					<tbody>
						{% for pitcher in record.away.pitchers %}
						<tr>
							<td class="form-name">
								<select class="td-input" name="pid_{{awayteam.teamID}}_{{forloop.counter}}">
									<option value = 0> -- </option>
									{% for member in awayplayer%}
										<option value="{{member.memberID}}">({{member.number}}){{member.name}}</option>
									{% endfor %}
								</select>
							</td>
							<td class="form-td"><input class="td-input" size="1" type="text" value="{{pitcher.number}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="outs_{{awayteam.teamID}}_{{forloop.counter}}" value="{{pitcher.Out}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="ppa_{{awayteam.teamID}}_{{forloop.counter}}" value="{{pitcher.TBF}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="ph_{{awayteam.teamID}}_{{forloop.counter}}" value="{{pitcher.H}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="phr_{{awayteam.teamID}}_{{forloop.counter}}" value="{{pitcher.HR}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pbb_{{awayteam.teamID}}_{{forloop.counter}}" value="{{pitcher.BB}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pso_{{awayteam.teamID}}_{{forloop.counter}}" value="{{pitcher.K}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pr_{{awayteam.teamID}}_{{forloop.counter}}" value="{{pitcher.Run}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="per_{{awayteam.teamID}}_{{forloop.counter}}" value="{{pitcher.ER}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pgo_{{awayteam.teamID}}_{{forloop.counter}}" value="{{pitcher.GO}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pfo_{{awayteam.teamID}}_{{forloop.counter}}" value="{{pitcher.FO}}"></td>
							<td class="td-win"><input class="td-input" type="checkbox" id="chbox_win" name="wl_{{awayteam.teamID}}_{{forloop.counter}}" value="win"></td>
							<td class="td-win"><input class="td-input" type="checkbox" id="chbox_lose" name="wl_{{awayteam.teamID}}_{{forloop.counter}}" value="lose"></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			
			<!-- home pitcher table -->
			<div class="col-md-6 team-record">
				<table class="table table-hover table-bordered">
					<thead>
						<tr>
							<td class="form-td">投手</td>
							<td class="form-td">背號</td>
							<td class="form-td">出局人數</td>
							<td class="form-td">打席</td>
							<td class="form-td">被安打</td>
							<td class="form-td">被全壘打</td>
							<td class="form-td">四壞</td>
							<td class="form-td">三振</td>
							<td class="form-td">失分</td>
							<td class="form-td">責失</td>
							<td class="form-td">滾地出局</td>
							<td class="form-td">飛球出局</td>
							<td class="td-win">勝投</td>
							<td class="td-win">敗投</td>
						</tr>
					</thead>

					<tbody>
						{% for pitcher in record.home.pitchers %}
						<tr>
							<td class="form-name">
								<select class="td-input" name="pid_{{hometeam.teamID}}_{{forloop.counter}}">
									<option value = 0> -- </option>
									{% for member in homeplayer%}
										<option value="{{member.memberID}}">({{member.number}}){{member.name}}</option>
									{% endfor %}
								</select>
							</td>
							<td class="form-td"><input class="td-input" size="1" type="text" value="{{pitcher.number}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="outs_{{hometeam.teamID}}_{{forloop.counter}}" value="{{pitcher.Out}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="ppa_{{hometeam.teamID}}_{{forloop.counter}}" value="{{pitcher.TBF}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="ph_{{hometeam.teamID}}_{{forloop.counter}}" value="{{pitcher.H}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="phr_{{hometeam.teamID}}_{{forloop.counter}}" value="{{pitcher.HR}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pbb_{{hometeam.teamID}}_{{forloop.counter}}" value="{{pitcher.BB}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pso_{{hometeam.teamID}}_{{forloop.counter}}" value="{{pitcher.K}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pr_{{hometeam.teamID}}_{{forloop.counter}}" value="{{pitcher.Run}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="per_{{hometeam.teamID}}_{{forloop.counter}}" value="{{pitcher.ER}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pgo_{{hometeam.teamID}}_{{forloop.counter}}" value="{{pitcher.GO}}"></td>
							<td class="form-td"><input class="td-input" size="1" type="text" name="pfo_{{hometeam.teamID}}_{{forloop.counter}}" value="{{pitcher.FO}}"></td>
							<td class="td-win"><input class="td-input" type="checkbox" id="chbox_win" name="wl_{{hometeam.teamID}}_{{forloop.counter}}" value="win"></td>
							<td class="td-win"><input class="td-input" type="checkbox" id="chbox_lose" name="wl_{{hometeam.teamID}}_{{forloop.counter}}" value="lose"></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div> <!-- end of row -->

		<div class="row">
			<div class="col-md-4 col-md-offset-4 button">
				<input class="btn btn-success" type="submit">	
			</div>
		</div>
	</form>	
</div>
{% endblock content %}
