{% extends "basic.html" %}
{% block title %}
	投手排行
{% endblock title %}

{% block navbar %}
	<ul class="nav navbar-nav">
		<li><a href="/member">成員</a></li>
		<li><a href="/game">戰績</a></li>
		<li><a href="/batting">打擊排行</a></li>
		<li class="active"><a href="/pitching">投手排行</a></li>
	</ul>
{% endblock navbar %}

{% block content %}
{% if user.is_authenticated %}

<div class="container">

	<form action="{% url 'show_all_batting' %}" method = "post">
		{% csrf_token %}

		<div class="row">
			
			<span class="btn-group">
				<select class="form-control" name="selected-year" onchange="submit_options(this)">
					<option value=0>Year</option>
				  	{% for year in years %}
				  		{% if year == selected_year %}
							<option selected>{{year}}</option>
				  		{% else %}
				  			<option>{{year}}</option>
				  		{% endif %}
				    {% endfor %}
				</select>
			</span>

			<span class="btn-group">
				<select class="form-control" name="selected-month" onchange="submit_options(this)">
					<option value=0>Month</option>
				  	{% for month in months %}
				  		{% if month == selected_month %}
							<option value={{month}} selected>{{month}}月</option>
				  		{% else %}
				  			<option value={{month}}>{{month}}月</option>
				  		{% endif %}
						
				    {% endfor %}
				</select>
			</span>

			<span class="btn-group">
				<select class="form-control" name="selected-league" onchange="submit_options(this)">
					<option value=0>Game</option>
				  	{% for league in leagues %}
				  		{% if league.id == selected_league %}
							<option value={{league.id}} selected>{{league.name}}</option>
				  		{% else %}
				  			<option value={{league.id}}>{{league.name}}</option>
				  		{% endif %}
						
				    {% endfor %}
				</select>
			</span>	

		</div>

		<div class="row">

			<table class="table table-hover table-bordered table-condensed tablesorter" id="all_pitching_table">
				<thead>
					<tr>
						<th>姓名</th>
						<th>出賽</th>
						<th>勝投</th>
						<th>敗投</th>
						<th>打席</th>
						<th>局數</th>
						<th>三振</th>
						<th>保送</th>
						<th>被安打</th>
						<th>被全壘打</th>
						<th>失分</th>
						<th>責失分</th>
						<th>滾地出局</th>
						<th>飛球出局</th>
						<th>失分率</th>
						<th>自責分率</th>
						<th>被上壘率</th>
					</tr>
				</thead>
				<tbody>
				{% for pitching in pitching_list %}
					<tr>
		                <td><a href="/member/{{pitching.member.id}}">{{pitching.member.name}}</a></td>
		                <td>{{pitching.gp}}</td>
						<td>{{pitching.win}}</td>
						<td>{{pitching.lose}}</td>
						<td>{{pitching.pa}}</td>
						<td>{{pitching.inning}}</td>
						<td>{{pitching.k}}</td>
						<td>{{pitching.bb}}</td>
						<td>{{pitching.hit}}</td>
						<td>{{pitching.hr}}</td>
						<td>{{pitching.run}}</td>
						<td>{{pitching.er}}</td>
						<td>{{pitching.go}}</td>
						<td>{{pitching.fo}}</td>
						<td>{{pitching.ra_s}}</td>
						<td>{{pitching.era_s}}</td>
						<td>{{pitching.whip_s}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>

		</div>

	</form>
</div>
	
{% endif %}
{% endblock content %}
