{% extends "basic.html" %}

{% block title %}
	{{game.date}} {{game.away_name}} vs {{game.home_name}}
{% endblock title %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li><a href="/member">成員</a></li>
    <li class="active"><a href="/game">戰績</a></li>
    <li><a href="/team">團隊成績</a></li>
    <li><a href="/batting">打擊排行</a></li>
    <li><a href="/pitching">投手排行</a></li>
</ul>
{% endblock navbar %}

{% block content %}
<div class="container">

{% if not user.is_authenticated %}
    
	<div class="row">
	 	<div class="row-center">    		
        	<div class="col-xs-4 col-center">	
				<div class="alert alert-danger" role="alert">
					<b>Warning!</b> Please login first.
				</div>
            </div>
        </div>
    </div>

{% else %}

	<div class="row">
		<div class="col-md-4 col-md-offset-4">	

			<table class="table table-condensed table-bordered table-hover">
				<tbody>
					<tr>
						<th>日期</th>
						<th>{{game.date}}</th>
					</tr>
					<tr>
						<th>地點</th>
						<th>{{game.location}}</th>
					</tr>
					<tr>
						<th>聯賽</th>
						<th>{{game.league}}</th>
					</tr>
				</tbody>
			</table>

		</div>	
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<table class="table table-condensed table-bordered table-hover">
				<thead>
					<tr>
						<th>隊伍</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>R</th>
						<th>H</th>
						<th>E</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>{{game.away_name}}</th>
						{% for score in game.away_scores %}
							<th>{{score}}</th>
						{% endfor %}
						<th>{{game.away_R}}</th>
						<th>{{game.away_H}}</th>
						<th>{{game.away_E}}</th>
					</tr>
					<tr>
						<th>{{game.home_name}}</th>
						{% for score in game.home_scores %}
							<th>{{score}}</th>
						{% endfor %}
						<th>{{game.home_R}}</th>
						<th>{{game.home_H}}</th>
						<th>{{game.home_E}}</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<table class="table table-condensed table-bordered table-hover">
				{% for row in team.batter_table %}
				<tr>
					{% for col in row %}
						<td>{{col}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>


	<!-- batting table -->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<table class="table table-hover table-bordered table-condensed">
				<thead>
					<tr>
						<th class="form-name-show">姓名</th>
						<th class="form-td">打席</th>
						<th class="form-td">打數</th>
						<th class="form-td">一安</th>
						<th class="form-td">二安</th>
						<th class="form-td">三安</th>
						<th class="form-td">全壘</th>
						<th class="form-td">打點</th>
						<th class="form-td">得分</th>
						<th class="form-td">保送</th>
						<th class="form-td">三振</th>
						<th class="form-td">犧牲</th>
					</tr>					
				</thead>
				<tbody>
					{% for player in batting_list %}
					<tr>
						<td class="form-name-show"><a href="/member/{{player.member.id}}">{{player.member.name}}</a></td>
						<td class="form-td">{{player.pa}}</td>
						<td class="form-td">{{player.ab}}</td>
						<td class="form-td">{{player.single}}</td>
						<td class="form-td">{{player.double}}</td>
						<td class="form-td">{{player.triple}}</td>
						<td class="form-td">{{player.hr}}</td>
						<td class="form-td">{{player.rbi}}</td>
						<td class="form-td">{{player.run}}</td>
						<td class="form-td">{{player.bb}}</td>
						<td class="form-td">{{player.k}}</td>
						<td class="form-td">{{player.sf}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>
	<!-- end of batting table -->


	<!-- pitching table -->
	<div class="row">
		<div class="col-md-8 team-record col-md-offset-2">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>投手</th>
						<th>局數</th>
						<th>面對打席</th>
						<th>被安打</th>
						<th>被全壘打</th>
						<th>四壞</th>
						<th>三振</th>
						<th>失分</th>
						<th>責失</th>
						<th>滾地出局</th>
						<th>飛球出局</th>
						<th>勝敗</th>
					</tr>
				</thead>

				<tbody>
					{% for player in pitching_list %}
					<tr>
						<td><a href="/member/{{player.member.id}}">{{player.member.name}}</a></td>
						<td>{{player.IP}}</td>
						<td>{{player.pa}}</td>
						<td>{{player.hit}}</td>
						<td>{{player.hr}}</td>
						<td>{{player.bb}}</td>
						<td>{{player.k}}</td>
						<td>{{player.run}}</td>
						<td>{{player.er}}</td>
						<td>{{player.go}}</td>
						<td>{{player.fo}}</td>
						<td>{{player.wl}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
	</div>
	<!-- end of pitching table -->
	
	<br>
	{% if user.is_authenticated %}
	<form action="{%url 'show_game' game.id %}" method = "post">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-4 col-md-offset-4 button">
				<input type="submit" class="btn btn-primary" name="edit-btn" value="修改比賽">
				<input type="submit" class="btn btn-success" name="download-btn" value="下載PTT記錄檔">
			</div>
		</div>
	</form>
	{% endif %}

	<br>
	<br>

{% endif %}

</div> <!-- end of container -->

{% endblock content %}
