{% extends "basic.html" %}

{% block title %}
	{{game.away}} vs {{game.home}}
{% endblock title %}

{% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-4 col-md-offset-4">	

			<table class="table table-condensed table-bordered table-hover">
				<tbody>
					<tr>
						<th>日期</th>
						<th>{{game.date}}</th>
					</tr>
					<tr>
						<th>地點</th>
						<th>{{game.location}}</th>
					</tr>
					<tr>
						<th>聯賽</th>
						<th>{{game.league}}</th>
					</tr>
				</tbody>
			</table>

		</div>	
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<table class="table table-condensed table-bordered table-hover">
				<thead>
					<tr>
						<th>隊伍</th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>R</th>
						<th>H</th>
						<th>E</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>{{game.away}}</th>
						{% for score in game.away_scores %}
							<th>{{score}}</th>
						{% endfor %}
						<th>{{game.away_R}}</th>
						<th>{{game.away_H}}</th>
						<th>{{game.away_E}}</th>
					</tr>
					<tr>
						<th>{{game.home}}</th>
						{% for score in game.home_scores %}
							<th>{{score}}</th>
						{% endfor %}
						<th>{{game.home_R}}</th>
						<th>{{game.home_H}}</th>
						<th>{{game.home_E}}</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- batting table -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<table class="table table-hover table-bordered table-condensed">
				<thead>
					<tr>
						<th class="form-name-show">姓名</th>
						<th class="form-td">打席</th>
						<th class="form-td">打數</th>
						<th class="form-td">一安</th>
						<th class="form-td">二安</th>
						<th class="form-td">三安</th>
						<th class="form-td">全壘</th>
						<th class="form-td">打點</th>
						<th class="form-td">得分</th>
						<th class="form-td">保送</th>
						<th class="form-td">三振</th>
						<th class="form-td">犧牲</th>
					</tr>					
				</thead>
				<tbody>
					{% for player in batting_list %}
					<tr>
						<td class="form-name-show"><a href="/member/{{player.member.id}}">{{player.member}}</a></td>
						<td class="form-td">{{player.pa}}</td>
						<td class="form-td">{{player.ab}}</td>
						<td class="form-td">{{player.single}}</td>
						<td class="form-td">{{player.double}}</td>
						<td class="form-td">{{player.triple}}</td>
						<td class="form-td">{{player.hr}}</td>
						<td class="form-td">{{player.rbi}}</td>
						<td class="form-td">{{player.run}}</td>
						<td class="form-td">{{player.bb}}</td>
						<td class="form-td">{{player.k}}</td>
						<td class="form-td">{{player.sf}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>
	<!-- end of batting table -->


	<!-- pitching table -->
	<div class="row">
		<div class="col-md-6 team-record col-md-offset-3">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<td class="form-name-show">投手</td>
						<td class="form-td">局數</td>
						<td class="form-td">面對打席</td>
						<td class="form-td">被安打</td>
						<td class="form-td">被全壘打</td>
						<td class="form-td">四壞</td>
						<td class="form-td">三振</td>
						<td class="form-td">失分</td>
						<td class="form-td">責失</td>
						<td class="form-td">滾地出局</td>
						<td class="form-td">飛球出局</td>
						<td class="form-td">勝敗</td>
					</tr>
				</thead>

				<tbody>
					{% for player in pitching_list %}
					<tr>
						<td class="form-name-show"><a href="/member/{{player.member.id}}">{{player.member}}</a></td>
						<td class="form-td">{{player.IP}}</td>
						<td class="form-td">{{player.pa}}</td>
						<td class="form-td">{{player.hit}}</td>
						<td class="form-td">{{player.hr}}</td>
						<td class="form-td">{{player.bb}}</td>
						<td class="form-td">{{player.so}}</td>
						<td class="form-td">{{player.r}}</td>
						<td class="form-td">{{player.er}}</td>
						<td class="form-td">{{player.go}}</td>
						<td class="form-td">{{player.fo}}</td>
						<td class="form-td">{{player.wl}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
	</div>
	<!-- end of pitching table -->

</div>

{% endblock content %}
