{% extends "basic.html" %}
{% block title %}
	球隊成員
{% endblock title %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li class="active"><a href="/member">成員</a></li>
    <li><a href="/game">戰績</a></li>
    <li><a href="/team">團隊成績</a></li>
    <li><a href="/batting">打擊排行</a></li>
    <li><a href="/pitching">投手排行</a></li>
</ul>
{% endblock navbar %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">

	<div class="row">
		<div class="col-md-4 col-md-offset-4">	
			<table class="table table-hover table-bordered fixed-width table-condensed">
				<thead>
					<tr>
						<th>職務</th>
						<th>姓名</th>
						<th>背號</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>隊長</td>
						<td><a href="/member/{{captain.id}}">{{captain.name}}</a></td>
						<td>{{captain.number}}</td>
					</tr>
					<tr>
						<td>教練</td>
						<td><a href="/member/{{coach.id}}">{{coach.name}}</a></td>
						<td>{{coach.number}}</td>
					</tr>
					<tr>
						<td>董事</td>
						<td><a href="/member/{{chairman.id}}">{{chairman.name}}</a></td>
						<td>{{chairman.number}}</td>
					</tr>
					<tr>
						<td>預財</td>
						<td><a href="/member/{{finance.id}}">{{finance.name}}</a></td>
						<td>{{finance.number}}</td>
					</tr>
					{% for member in member_list %}
					<tr>
						<td>{{member.title}}</td>
						<td><a href="/member/{{member.id}}">{{member.name}}</a></td>
						<td>{{member.number}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


</div>
{% endif %}
{% endblock content %}

